<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body class="<%= data.layout %> <%= data.page_class %>">
    <header>
      <%= render "navbar", metadata: site.metadata, resource: resource %>
     <input type="checkbox" id="hamburger-input" class="burger-shower" />
     <label id="hamburger-menu" for="hamburger-input">
       <nav id="sidebar-menu">
         <h3>Menu</h3>
         <ul>
           <li><a href="<%= relative_url '/' %>">William Pickup</a></li>
           <li><a href="<%= relative_url '/posts' %>">Blog</a></li>
           <li><a href="<%= relative_url '/now' %>">Now</a></li>
           <li><a href="<%= relative_url '/about' %>">About</a></li>
         </ul>
       </nav>
     </label>

     <div class="overlay"></div>

    </header>
    <main>
      <%= yield %>
    </main>

    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
